
<h1>Title: <%= @book.title %> </h1>
<p>Author: <%= @book.author %> </p>
<p>Publication Year: <%= @book.publication_year %> </p>
<p>State: <%= @book.state %> </p>
<p>Isbn: <%= @book.isbn %> </p>
<hr>
<%= link_to 'Edit', edit_book_path(@book), :class => 'btn btn-outline-secondary'  %>

<% if current_user %>
  <%= button_to 'Reservar', reserve_book_path(@book), method: :post %>
<% else %>
  <%= link_to 'Iniciar sesión para reservar', new_user_session_path %>
<% end %>

<%= link_to 'Destroy', book_path(@book),
                                        data: { "turbo-method": :delete,
                                        turbo_confirm: ('Are you sure?')},
                                        :class => 'btn btn-danger'  %>
